<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8"/>
	<link rel="icon" type="image/png" href="/build/media/favicon/favicon-16x16.png">
	<link rel="icon" type="image/png" href="/build/media/favicon/favicon-32x32.png">
	<link rel="icon" type="image/ico" href="/build/media/favicon/favicon.ico">
	<link rel="icon" type="image/png" href="/build/media/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/build/media/favicon/android-chrome-192x192.png">
	<link rel="icon" type="image/png" href="/build/media/favicon/android-chrome-512x512.png">
	<title>Hello demo</title>
</head>
<body>
<div id="react"></div>
</body>
</html>
